.link{
	float: right;
	text-decoration: underline;
	color: grey;
	font-family: 'Quicksand', sans-seriff;
	margin-right: 20px;
	
}

.title{
	text-align: center;
	color: black;
	font-family: 'Quicksand', sans-seriff;
	width: 100%;
	text-decoration: underline;
	margin-bottom: 50px;
		
}

.line{
	
	border-bottom: 1px solid grey;
	
	
}

.layout{
	display: grid;
	grid-template-columns: 20% repeat(5, 1fr);
	
	
}

.sideBar{
	border-right: 1px solid black;
	height: 100%;
	
	
}

#search_box{
	margin: 0;
	height: 25px;
	width: 100%;
	display: inline;
}

#seeAll{
	position: relative;
	left: 50%;
	bottom:25px;
	padding: 0;
}

.button{
	margin: 0;
	background-color: white;
	color: grey;
	border: 1px grey solid;
	transition: 0.3s;
	font-family: 'Quicksand', sans-seriff;
	display: inline-block;
	width: 50%;
	height: 25px;

}

.button:hover{
	color: white;
	background-color: #D4D3D3;
}

.boxText{
	position: inline;
	font-family: 'Quicksand', sans-seriff;
}

#filterBtn{
	width: 50%;
	height: 25px;
	background-color: white;
	color: grey;
	border: 1px grey solid;
	transition: 0.3s;
	font-family: 'Quicksand', sans-seriff;
	text-align: center;	
	margin-left: 25%;
	
}

#filterBtn:hover{
	color: white;
	background-color: #D4D3D3;
	
}

.display{
	grid-column: 2 / 7;
	margin: 0;
}

.errorMsg{
	color: red;
	font-family: 'Quicksand', sans-seriff;
	margin: 0;
	display: block;
	position: relative;
	bottom: 50px;
}

.filterSec{
	position: relative;
	bottom: 45px;
}

.NoStoreFoundMsg{
	font-family: 'Quicksand', sans-seriff;
	text-align: center;
	width: 100%;
}

.storeLink{
	color: grey;
	font-family: 'Quicksand', sans-seriff;
	position: relative;
	top: 35px;
	text-align: center;
	

}

.storeLink:hover{
	color: black;

}

.col-sm-2{
	height: 100px;
	background-color: white;
	color: grey;
	transition: 0.3s;
	text-align: center;

	
}

.col-sm-2:hover{
	background-color: #D4D3D3;
}


