.title{
    text-transform: capitalize;
}

.storeName{
    float: left;
    font-family: 'Quicksand', sans-seriff;
    margin: 0;
}

.salePrice{
    float: right;
    font-family: 'Quicksand', sans-seriff;
    margin: 0;
}

.regularPrice{
    font-family: 'Quicksand', sans-seriff;
    float: right;
    text-decoration: line-through;
    margin: 0;

}

.storeAddress{
    display: block;
    font-family: 'Quicksand', sans-seriff;
    float: left;
    margin: 0;
}

.seeMap{
    margin-left: 5px;
}
