{% extends 'base.html' %}
{% load static %}
{% load customTemplateFootwear %}

<html>
    <head>
        {% block cssFiles %}
            <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <link rel="stylesheet" type="text/css" href="{% static 'store/styleStorePage.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'store/styleStore.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'items/styleItems.css' %}" />
        {% endblock %}

        {% block title %} SMPLY: {{selectedStore.sName}} {% endblock %}

    </head>

{% block body %}
    <body onload="reset('{{saveFilter}}')"> 
        <div class="line">
            <h1 class="title">{{selectedStore.sName}}</h1>
        </div>        

        <div class="layout">

            <div class="sideBar">
                <form>
                    <input id="search_box" type="text" name="q" placeholder='Search {{selectedStore.sName}}...'>
                    <input class="button" id="search_submit" type="submit" name="searchBtn" value="Search"> Submit 
                </form>
                <form>
                    <input id="seeAll" type="submit" class="button" name="allStoresBtn" value="All Footwear">	
                </form>  

                <div class="selectBoxContainer">
                    <h4 class="header">Filter by Department: </h4>
                    <form>    
                        <select class="selectBox" onchange="submitFuncSelection()" >
                            <option class="option">See All</option>
                            {% for selectedDepartment in storeDepartments %}
                                <option class="option">{{selectedDepartment.cName}}</option>
                            {% endfor %}
                        </select>
                        <input id="submitSelBtn" type="submit" class="button" style="display:none" name="selectionBtn">
                    </form>
                </div>
                
                    <div class="storeLocationFilter">
                        <h4 class="header">Filter by Store Location: </h4>
                        <br><br>
                        <form method="GET" class="filterSec" id="checkbox-form">
                            {% for selectedStoreLocations in storeLocations %}
                                <input type="checkbox" onclick="submitFuncFilterBox()" id="storeLoc_{{selectedStoreLocations.id}}" name="storeLoc" value="{{selectedStoreLocations.id}}">
                                <label for="storeLoc_{{selectedStoreLocations.id}}" style="font-family: 'Quicksand', sans-seriff; text-transform: capitalize;">
                                    {{selectedStoreLocations.locationCity}}: {{selectedStoreLocations.address}}
                                </label> 
                                <br>
                            {% endfor %}
                            <input id="checkBoxFilterBtn" style="display:none" type="submit" class="button" value="Filter" name="filterBtn">
                        </form>
                    </div>
            </div>

            <div class="display">
                {% if noResult %}
                    <h3 class="NoStoreFoundMsg">No Footwear Found</h3>
                {% endif %}

                {% for row in numOfRow %}
                    <div id="productRow">
                    {% with startIndex=row|mul:numOfCol %}
                    {% for col in numOfColRange%}
    
                        {% with productIndex=startIndex|adder:col %}    
                        {% if amountOfProducts > productIndex%}
                                
                            {% with selectedProduct=qFootwear|index:productIndex %}

                            <div class="col-xs-3 productListingBox">
                                <div class="content">
                                    {% if selectedProduct.avgCost %}
                                        <h6 class="avgPrice"> Average Price: ${{selectedProduct.avgCost|floatformat:2}}</h6>
                                    {% else %}
                                        <h6 class="avgPrice">No Stock</h6>
                                    {% endif %}
                                    <a class="productLink" href="{% url 'products:productPage' generalItem_slug=selectedProduct.slug Product_id=selectedProduct.id %}">
                                        <img class="displayPic" alt="{{selectedProduct}}" src="{{selectedProduct.displayPic.url}}">
                                        <h4 class="productTitle">{{selectedProduct.generalItem.shoeName}} {{selectProduct.additionalName}} </h4>
                                        {% if selectedProduct.additionalName != None %}
                                            <h5 class="productTitle" style="display:inline">"{{selectedProduct.additionalName}}"</h5>
                                        {% endif %}
                                    </a>
                                    <h6 class="productDescription">{{selectedProduct.generalItem.brand}}</h6>
                                    <h6 class="productDescription">{{selectedProduct.generalItem.gender}}</h6>
                                    <h6 class="productDescription">{{selectedProduct.generalItem.style}}</h6>
                                        
                                </div>
                            </div>

                            {% endwith %}
    
                        {% endif %}
                        {% endwith %}
    
                    {% endfor %}
                    {% endwith %}
                    </div>

                {% endfor %}
            </div>

        </div>


        <script>
            //var checkboxValuesStoreLoc = JSON.parse(localStorage.getItem('checkboxValuesStoreLoc')) || {};            
            var $checkboxesStoreLoc = $("#checkbox-form :checkbox");
    
            function reset(saveFilter){

                //if(saveFilter == "False"){
                //    $checkboxesStoreLoc.each(function(){
                //        checkboxValuesStoreLoc[this.id] = false;
                //    });
                //}
                var pageURL = window.location.href;
                
                var submittedFormURL = pageURL.split("?")[1];
                
                var splitURLList = submittedFormURL.split("&")
                var loopLength = splitURLList.length-1;

                

                for (var i = 0; i < loopLength; i++){
                    var storeLocOne = splitURLList[i].split("=")[0];
                    var storeLocTwo = splitURLList[i].split("=")[1];
                    var storeLocID = storeLocOne + "_" + storeLocTwo;
                    document.getElementById(storeLocID).checked = true;
                }

                //localStorage.setItem("checkboxValuesStoreLoc", JSON.stringify(checkboxValuesStoreLoc));
                
                //$.each(checkboxValuesStoreLoc, function (key, value){
                //    document.getElementById(key).checked = value;
                //});
            }

            $checkboxesStoreLoc.on("change", function(){
                document.getElementById("checkBoxFilterBtn").click();
                //$checkboxesStoreLoc.each(function(){
                //    checkboxValuesStoreLoc[this.id] = this.checked;
                //});
                //localStorage.setItem("checkboxValuesStoreLoc", JSON.stringify(checkboxValuesStoreLoc));
                //submitFilterForm();
            });

            /*
            function submitFilterForm(){
                document.getElementById("checkBoxFilterBtn").click();
            }
            */

        </script>    
    </body>
{% endblock %}
</html>











